{%extends 'main/base.html'%} {% load static %} {%block content %}

<!-- Page top section -->
<section
	class="page-top-section set-bg"
	data-setbg="{% static 'main/img/page-top-bg.jpg' %}"
>
	<div class="container text-white">
		<h2>About us</h2>
	</div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
	<div class="container">
		<a href="{% url 'main-home' %}"><i class="fa fa-home"></i>Home</a>
		<span><i class="fa fa-angle-right"></i>About us</span>
	</div>
</div>

<!-- page -->
<section class="page-section">
	<div class="container">
		<img class="mb-5" src="{% static 'main/img/about.jpg' %}" style="height:400px; width:1000px" alt="" />
		<div class="row about-text">
			<div class="col-xl-6 about-text-left">
				<h5>ABOUT US</h5>
				<p>
					Thesharptenant is a social innovation powered by <a href="www.systemshift.io">systemshift.io</a> is Nigeria's Number 1 search engine for properties, aimed at helping prospective tenants get insights into properties before they pay for them even in thier busy schedule.
					We give our users the ability to find the state of properties so as to avoid paying for houses with unpaid PHCN bills by previous occupants, apileptic water and power supply,
					flood prone houses, and abusive landlords. We are not a real estate agent, but we're committed to balancing power in the Real Estate market and ensure, Landlords do 
					the right things and tenants are not hoodwinked.


				</p>  
				<p> We have engineered a next-to-none more convenient and effective way for prospective tenants and property seekers to find 
				   an up-to-date property information, and also to allow people review houses they have lived in, to give incoming tenants an idea of what they are coming for.
				   The goal is to create an open appraisal system to ensure that Tenants are well informed, thereby putting to check irresponsible Landlords and Agents.
			    
				</p>
			</div>
			<div class="col-xl-6 about-text-right">
				<h5>OUR QUALITY</h5>
				<ul class="about-list">
						<li>
								<i class="fa fa-check-circle-o"></i>Integrity and Accountability
							</li>
					<li>
						<i class="fa fa-check-circle-o"></i>Simplicity and Convinience
					</li>
					<li>
						<i class="fa fa-check-circle-o"></i>Bringing about social change through technology
					</li>
					
				</ul>
			</div>
		</div>
	</div>

	<!-- Team section -->
	<section class="team-section spad pb-0">
		<div class="container">
			{% comment %} <div class="section-title text-center">
				<h3>OUR AGENTS</h3>
				<p>Our directory of real estate agents who can help you</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/1.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Tony Holland</h5>
							<span>Real Estate Agent</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
								<p><i class="fa fa-envelope"></i>tonyholland@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/2.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Sasha Gordon</h5>
							<span>Researcher</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2243</p>
								<p><i class="fa fa-envelope"></i>sashagordon@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/3.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Nicky Butt</h5>
							<span>Nicky Butt</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2255</p>
								<p><i class="fa fa-envelope"></i>nickybutt79@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/4.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Gina Wesley</h5>
							<span>Real Estate Agent</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
								<p><i class="fa fa-envelope"></i>ginawesley@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}
		</div>
	</section>
	<!-- Team section end-->
</section>
<!-- page end -->

<!-- Clients section -->
<div class="clients-section">
	<div class="container">
		<div class="clients-slider owl-carousel">
			<a href="#">
				<img src="{% static 'main/img/partner/1.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/2.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/3.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/4.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/5.png' %}" alt="" />
			</a>
		</div>
	</div>
</div>
<!-- Clients section end -->
{% endblock content%}
