{%extends 'main/base.html'%} {% load static %} {%block content %}

<!-- Page top section -->
<section
	class="page-top-section set-bg"
	data-setbg="{% static 'main/img/page-top-bg.jpg' %}"
>
	<div class="container text-white">
		<h2>About us</h2>
	</div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
	<div class="container">
		<a href="{% url 'main-home' %}"><i class="fa fa-home"></i>Home</a>
		<span><i class="fa fa-angle-right"></i>About us</span>
	</div>
</div>

<!-- page -->
<section class="page-section">
	<div class="container">
		<img class="mb-5" src="{% static 'main/img/about.jpg' %}" alt="" />
		<div class="row about-text">
			<div class="col-xl-6 about-text-left">
				<h5>ABOUT US</h5>
				<p>
					Thesharptenant is Nigeria’s number one solution finder website that helps prospective tenant avoid renting houses with unpaid PHCN bills by the previous occupant, 
					epileptic water and power supply, flood prune houses with bad access roads, and abusive landlords. 
					We are not estate agents but we aim to be the place for Nigerian property seekers to find details and state of all 
					apartments/properties they want to rent or buy.

				</p>  
				<p> We have engineered a next-to-none more convenient and effective way for prospective tenants and property seekers to find 
				   an up-to-date property information, available for free, accessible 24 hours a day to anyone with 
				   internet access and far more complete in terms of number of properties and depth of detail 
				   on each property. Thesharptenant connects you  with reputable agents having good track record.
					Thesharptenant is the clear leading property website with lots of users, advertising members and properties. Our advertisers are property professionals such as estate agents, letting (rental) agents and new homes developers who offer properties within Nigeria for property hunters.

                    
				</p>
			</div>
			<div class="col-xl-6 about-text-right">
				<h5>OUR QUALITY</h5>
				<p>
					Our aim is to continously render top-notch services to our numerous satisfied 
					users while maintaining the highest standards of integrity.
				</p>
				<ul class="about-list">
					<li>
						<i class="fa fa-check-circle-o"></i>Our focus is to bring simplicity to, and demystify the process of renting and buying apartment in Nigeria; 
						especially in Lagos State..
					</li>
					<li>
						<i class="fa fa-check-circle-o"></i>We provide an exceptional level of service and expertise in the real estate arena that leaves you smiling..
					</li>
					<li>
						<i class="fa fa-check-circle-o"></i>We bridge the gap between property hunters, agents and lanlords.
					</li>
					<li>
						<i class="fa fa-check-circle-o"></i>The welfare of all players in the real estate market is our utmost concern.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Team section -->
	<section class="team-section spad pb-0">
		<div class="container">
			{% comment %} <div class="section-title text-center">
				<h3>OUR AGENTS</h3>
				<p>Our directory of real estate agents who can help you</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/1.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Tony Holland</h5>
							<span>Real Estate Agent</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
								<p><i class="fa fa-envelope"></i>tonyholland@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/2.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Sasha Gordon</h5>
							<span>Researcher</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2243</p>
								<p><i class="fa fa-envelope"></i>sashagordon@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/3.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Nicky Butt</h5>
							<span>Nicky Butt</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2255</p>
								<p><i class="fa fa-envelope"></i>nickybutt79@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'main/img/team/4.jpg' %}" alt="#" />
							<div class="member-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-instagram"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h5>Gina Wesley</h5>
							<span>Real Estate Agent</span>
							<div class="member-contact">
								<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
								<p><i class="fa fa-envelope"></i>ginawesley@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}
		</div>
	</section>
	<!-- Team section end-->
</section>
<!-- page end -->

<!-- Clients section -->
<div class="clients-section">
	<div class="container">
		<div class="clients-slider owl-carousel">
			<a href="#">
				<img src="{% static 'main/img/partner/1.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/2.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/3.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/4.png' %}" alt="" />
			</a>
			<a href="#">
				<img src="{% static 'main/img/partner/5.png' %}" alt="" />
			</a>
		</div>
	</div>
</div>
<!-- Clients section end -->
{% endblock content%}
