{% extends 'main/base.html' %}
 {% load static %}
{% block content %}
<!-- This overrides what is in the body of d base.html  -->
<style>
	htm, body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}
.pagination {
  display: inline-block;
  height: 70px;
  margin-top: 70px;
  padding: 0 25px;
  border-radius: 35px;
  background-color: #eee;
}
@media only screen and (max-width: 1199px) {
  .pagination {
    height: 50px;
    margin-top: 50px;
    padding: 0 10px;
    border-radius: 25px;
  }
}
.page-numbers {
  display: block;
  padding: 0 25px;
  float: left;
  transition: 400ms ease;
  color: #595959;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 70px;
}
.page-numbers:hover, .page-numbers.current {
  background-color: #30caa0;
  color: #fff;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
  background-color: transparent;
  color: #86c023;
}
@media only screen and (max-width: 1199px) {
  .page-numbers {
    padding: 0 15px;
    font-size: 16px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .page-numbers {
    padding: 0 14px;
    display: none;
  }
  .page-numbers:nth-of-type(2) {
    position: relative;
    padding-right: 50px;
  }
  .page-numbers:nth-of-type(2)::after {
    content: '...';
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 45px;
  }
  .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
    display: block;
  }
  .page-numbers:nth-last-child(-n+4) {
    padding-right: 14px;
  }
  .page-numbers:nth-last-child(-n+4)::after {
    content: none;
  }
}


</style>
<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'main/img/bg.jpg' %}">
		<div class="container hero-text text-white">
			<h2>You deserve to know what you pay for</h2>
			<p>Stop being sold lies by Agents and Landlords. Ensure you are not paying for what you will regret
				<br>Search that apartment before paying. Shine your eyes.</p>
			<a href="#explore-features" class="site-btn">EXPLORE</a>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Filter form section -->
	<div class="filter-search" id="explore-features">
		<div class="container">
			<form action="/search-review/" class="filter-form" method="get">
				{% csrf_token %}
				{{ form.address}}
				{{ form.location}}
				{{ form.state}}
				<button style="background: #92c570; color: #fff; border:none; border-radius: 10px;" type="submit" class="btn btn-default btn-lg">SEARCH</button>
			</form>
		</div>
	</div>
	<!-- Filter form section end -->

	
	<section class="feature-section spad">
		
		<div class="container">
			<div class="section-title text-center">
				<h3>Recent Reviews</h3>
			</div>
			<div class="row">
					{% for review in review %}
				<div class="col-lg-4 col-md-6">
					<!-- feature -->
					<div class="feature-item">
						<div class="feature-pic set-bg" data-setbg={{review.images.0}}>
							<!-- <div class="sale-notic">FOR SALE</div> -->
						</div>
						<div class="feature-text">
							<div class="text-center feature-title">
									<h5>{{ review.street_name}}</h5>
								<p><i class="fa fa-map-marker"></i> {{ review.state}}, {{ review.location }}</p>
							</div>
							<div class="room-info-warp">
								<div class="room-info">
									<p> {{review.content | slice:":40"}}...</p>
								</div>
								<div class="room-info">
									<div class="rf-left">
										<p><i class="fa fa-user"></i> {{review.owner}}</p>
									</div>
									<div class="rf-right">
										<p><i class="fa fa-clock-o"></i> {{review.date_created}}</p>
									</div>	
								</div>
							</div>
							<a href="/review-detail/{{review.review_id}}/"  class="room-price">View</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<div class="container">
					<a href="/review/" class="btn btn-success btn-lg btn-block" style="background: #30caa0; border: none; border-radius: 25px;">SEE MORE</a>
			</div>
		</div>
				
		  </div>
	</section>

	<!-- feature section end -->


	<!-- Blog section -->
	{% comment %} <section class="blog-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LATEST NEWS</h3>
				<p>Real estate news headlines around the world.</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 blog-item">
					<img src="{% static 'main/img/blog/1.jpg' %}" alt="">
					<h5><a href="single-blog.html">Housing confidence hits record high as prices skyrocket</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>Amanda Seyfried</span>
						<span><i class="fa fa-clock-o"></i>25 Jun 201</span>
					</div>
					<p>Integer luctus diam ac scerisque consectetur. Vimus dotnetact euismod lacus sit amet. Aenean interdus mid vitae maximus...</p>
				</div>
				<div class="col-lg-4 col-md-6 blog-item">
					<img src="{% static 'main/img/blog/2.jpg' %}" alt="">
					<h5><a href="single-blog.html">Taylor Swift is selling her $2.95 million Beverly Hills mansion</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>Amanda Seyfried</span>
						<span><i class="fa fa-clock-o"></i>25 Jun 201</span>
					</div>
					<p>Integer luctus diam ac scerisque consectetur. Vimus dotnetact euismod lacus sit amet. Aenean interdus mid vitae maximus...</p>
				</div>
				<div class="col-lg-4 col-md-6 blog-item">
					<img src="{% static 'main/img/blog/3.jpg' %}" alt="">
					<h5><a href="single-blog.html">NYC luxury housing market saturated with inventory, says celebrity realtor</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>Amanda Seyfried</span>
						<span><i class="fa fa-clock-o"></i>25 Jun 201</span>
					</div>
					<p>Integer luctus diam ac scerisque consectetur. Vimus dotnetact euismod lacus sit amet. Aenean interdus mid vitae maximus...</p>
				</div>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- Blog section end -->

	
{% endblock %}
	

	



	     
	
