
{%extends 'main/base2.html'%} {% load static %} {%block content %}

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'main/img/page-top-bg.jpg' %}">
		<div class="container text-white">
			<h2>Reviews</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			
			<a href=""><i class="fa fa-comment"></i>Review</a>
			
			<span><i class="fa fa-angle-right"></i>{{review.location}}</span>
			
		</div>
	</div>

	<!-- page -->
	
	<section class="page-section blog-page">
		<div class="container">
				
			<div class="row">
				{% for review in review %}
				<!-- blog post -->
				<div class="col-lg-4 col-md-6 blog-item">
					<img src={{review.images.0}} alt="" style="width:330px;height:185px;">
					<h5><a href="#">{{ review.title }}</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>{{ review.owner }}</span>
						<span><i class="fa fa-clock-o"></i>{{review.date_created}}</span>
					</div>
					<p>{{ review.content | slice:":35" }}...</p>
					<br>
					<a href="/review-detail/{{review.review_id}}/" style="background: #30caa0; border:none; border-radius: 13px;" type="submit" class="btn btn-success btn-lg btn-block">View</a>
					
				</div>
				{% endfor %}
			</div>

							<div class="site-pagination">
						
									{% if review.has_previous %}
										<a href="?page=1">&laquo; 1</a>
										<a href="?page={{ review.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
									{% endif %}
							
									<span>
										 {{ review.number }}
									</span>
							
									{% if review.has_next %}
										<a href="?page={{ review.next_page_number }}"><i class="fa fa-angle-right"></i></a>								
										<a href="?page={{ review.paginator.num_pages }}">{{review.paginator.num_pages}}&raquo;</a>
									{% endif %}


							</div>
			
		</div>
	</section>
	<!-- page end -->

{% endblock content%}
	
